---
import { type InferGetStaticPropsType } from "astro";
import { Image } from "astro:assets";
import { getCollection, render } from "astro:content";

import DateTime from "@/components/datetime.astro";
import Prose from "@/components/prose.astro";
import { Badge } from "@/components/ui/badge";
import LayoutPortfolio from "@/layouts/layout-portfolio.astro";

export async function getStaticPaths() {
  return (await getCollection("projects")).map((project) => ({
    params: { id: project.id },
    props: { project },
  }));
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { project } = Astro.props;

const { Content } = await render(project);
---

<LayoutPortfolio
  title={project.data.title}
  description={project.data.description}
>
  <h1
    class="text-center font-serif text-4xl font-semibold tracking-tight sm:text-left"
  >
    {project.data.title}
  </h1>
  <section
    class="flex flex-wrap justify-center gap-x-5 gap-y-3 sm:justify-start"
  >
    {
      project.data.links.map((link) => (
        <a href={link.href} class="font-medium underline underline-offset-4">
          {link.name}
        </a>
      ))
    }
  </section>
  {
    project.data.image && (
      <Image
        src={project.data.image.src}
        alt={project.data.image.alt}
        class="mx-auto max-h-100 w-fit rounded-xl"
      />
    )
  }
  <section class="flex flex-col gap-5">
    <div
      class="text-muted-foreground flex flex-col justify-between gap-3 sm:flex-row"
    >
      <span>Started <DateTime dt={project.data.started} /></span>
      {
        project.data.updated && (
          <span>
            Updated <DateTime dt={project.data.updated} />
          </span>
        )
      }
    </div>
    <div class="flex flex-wrap gap-3">
      {
        project.data.tags.map((tag) => (
          <Badge asLink href={`/portfolio/tag/${tag}`} size="lg">
            {tag}
          </Badge>
        ))
      }
    </div>
  </section>
  <Prose>
    <Content />
  </Prose>
</LayoutPortfolio>
