---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import DateTime from "@/components/datetime.astro";
import { Badge } from "@/components/ui/badge";
import { Button } from "@/components/ui/button";
import LayoutBlog from "@/layouts/layout-blog.astro";

const latestPosts = (await getCollection("posts"))
  .filter((post) => post.data.published)
  .toSorted((a, b) => b.data.created.valueOf() - a.data.created.valueOf())
  .slice(0, 3);
---

<LayoutBlog>
  <header class="space-y-5 text-center font-semibold sm:text-left">
    <h1 class="text-4xl tracking-tight">Hi there, I'm Aakash! 👋</h1>
    <h2 class="text-3xl tracking-tight">Welcome to my blog!</h2>
  </header>
  <section class="flex flex-col gap-10">
    <h3 class="text-2xl font-semibold tracking-tight">Latest Posts</h3>
    <div class="flex flex-col gap-10">
      {
        latestPosts.map((post) => (
          <a href={`/blog/post/${post.id}`} class="group flex flex-row gap-7.5">
            <Image
              src={post.data.image.src}
              alt={post.data.image.alt}
              class="size-40 self-center rounded-xl object-cover"
            />
            <div class="flex grow flex-col gap-3">
              <p class="text-muted-foreground group-hover:text-foreground text-sm transition-colors">
                <DateTime dt={post.data.created} />
              </p>
              <h4 class="line-clamp-1 text-xl font-semibold tracking-tight">
                {post.data.title}
              </h4>
              <p class="text-muted-foreground group-hover:text-foreground line-clamp-2 transition-colors">
                {post.data.description}
              </p>
              <div class="flex gap-3">
                {post.data.tags.map((tag) => (
                  <Badge className="bg-muted-foreground group-hover:bg-primary transition-colors">
                    {tag}
                  </Badge>
                ))}
              </div>
            </div>
          </a>
        ))
      }
    </div>
    <Button asLink href="/blog/posts" variant="secondary">View all posts</Button
    >
  </section>
</LayoutBlog>
