---
import { type InferGetStaticPropsType } from "astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import DateTime from "@/components/datetime.astro";
import { Badge } from "@/components/ui/badge";
import LayoutPortfolio from "@/layouts/layout-portfolio.astro";

export async function getStaticPaths() {
  const projects = (await getCollection("projects"))
    .filter((project) => project.data.published)
    .toSorted((a, b) => b.data.started.valueOf() - a.data.started.valueOf());
  const tags = Array.from(
    new Set(projects.flatMap((project) => project.data.tags))
  );

  return tags.map((tag) => ({
    params: { id: tag },
    props: {
      tag,
      projects: projects.filter((project) => project.data.tags.includes(tag)),
    },
  }));
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { tag, projects } = Astro.props;

const title = `Tag: ${tag}`;
---

<LayoutPortfolio title={title}>
  <header
    class="flex flex-row items-center justify-center gap-3 font-semibold sm:justify-start"
  >
    <h1 class="text-4xl tracking-tight">Tag:</h1>
    <Badge size="lg" className="px-4 text-3xl">{tag}</Badge>
  </header>
  <section class="flex flex-col gap-10">
    {
      projects.map((project) => (
        <a
          href={`/portfolio/project/${project.id}`}
          class="group flex flex-col gap-5 sm:flex-row sm:gap-7.5"
        >
          <Image
            src={project.data.image.src}
            alt={project.data.image.alt}
            class="max-h-75 self-center rounded-xl object-cover sm:size-50"
          />
          <div class="flex grow flex-col gap-3">
            <p class="text-muted-foreground group-hover:text-foreground text-sm transition-colors">
              <DateTime dt={project.data.started} />
            </p>
            <h4 class="line-clamp-2 font-serif text-xl font-semibold tracking-tight">
              {project.data.title}
            </h4>
            <p class="text-muted-foreground group-hover:text-foreground line-clamp-3 font-serif transition-colors">
              {project.data.description}
            </p>
            <div class="flex flex-wrap gap-3">
              {project.data.tags.map((tag) => (
                <Badge className="bg-muted-foreground group-hover:bg-primary transition-colors">
                  {tag}
                </Badge>
              ))}
            </div>
          </div>
        </a>
      ))
    }
  </section>
</LayoutPortfolio>
