---
import BaseHead, { type MetaProps } from "@/components/base-head.astro";
import ThemeScript from "@/components/theme-script.astro";

import banner from "@/assets/images/banner.png";

import "@fontsource-variable/domine";
import "@fontsource-variable/geist";
import "@fontsource-variable/geist-mono";

import "@/styles/global.css";

export type LayoutProps = Partial<MetaProps> & {
  section?: string;
};

type Props = LayoutProps;

const { section, title, author, description, image, type } = Astro.props;

const baseTitle = "Aakash Kc";
const sectionTitle = section ? `${baseTitle} / ${section}` : baseTitle;
const pageTitle = title ? `${title} - ${sectionTitle}` : sectionTitle;

const defaultAuthor = "Aakash Kc";
const pageAuthor = author || defaultAuthor;

const defaultDescription =
  "Hi there, I'm Aakash! Welcome to my personal website!";
const pageDescription = description || defaultDescription;

const defaultImage = { src: banner, alt: "Aakash Kc banner." };
const pageImage = image || defaultImage;

const defaultType = "website";
const pageType = type || defaultType;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={pageTitle}
      author={pageAuthor}
      description={pageDescription}
      image={pageImage}
      type={pageType}
    />
    <ThemeScript />
  </head>
  <body class="flex min-h-screen flex-col gap-10">
    <slot />
  </body>
</html>
