---
import BaseHead from "@/components/base-head.astro";
import Footer from "@/components/footer.astro";
import Header from "@/components/header.astro";
import ThemeScript from "@/components/theme-script.astro";

import "@fontsource-variable/geist";
import "@fontsource-variable/geist-mono";

import "@/styles/global.css";

type Props = { title?: string; author?: string; description?: string };

const { title, author, description } = Astro.props;

const baseTitle = "Aakash Kc";
const pageTitle = title ? `${title} - ${baseTitle}` : baseTitle;

const defaultAuthor = "Aakash Kc";
const pageAuthor = author || defaultAuthor;

const defaultDescription =
  "Hi there, I'm Aakash! Welcome to my personal website!";
const pageDescription = description || defaultDescription;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={pageTitle}
      author={pageAuthor}
      description={pageDescription}
    />
    <ThemeScript />
  </head>
  <body class="flex min-h-screen flex-col gap-10">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
