---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import DateTime from "@/components/datetime.astro";
import { Badge } from "@/components/ui/badge";
import LayoutPortfolio from "@/layouts/layout-portfolio.astro";

const projects = (await getCollection("projects"))
  .filter((project) => project.data.published)
  .toSorted((a, b) => b.data.created.valueOf() - a.data.created.valueOf());
---

<LayoutPortfolio title="Projects">
  <h1 class="text-center text-4xl font-semibold tracking-tight sm:text-left">
    Projects
  </h1>
  <section class="flex flex-col gap-10">
    {
      projects.map((project) => (
        <a
          href={`/portfolio/project/${project.id}`}
          class="group flex flex-row gap-7.5"
        >
          <Image
            src={project.data.image.src}
            alt={project.data.image.alt}
            class="size-50 self-center rounded-xl object-cover"
          />
          <div class="flex grow flex-col gap-3">
            <p class="text-muted-foreground group-hover:text-foreground text-sm transition-colors">
              <DateTime dt={project.data.created} />
            </p>
            <h4 class="line-clamp-2 font-serif text-xl font-semibold tracking-tight">
              {project.data.title}
            </h4>
            <p class="text-muted-foreground group-hover:text-foreground line-clamp-3 font-serif transition-colors">
              {project.data.description}
            </p>
            <div class="flex gap-3">
              {project.data.tags.map((tag) => (
                <Badge className="bg-muted-foreground group-hover:bg-primary transition-colors">
                  {tag}
                </Badge>
              ))}
            </div>
          </div>
        </a>
      ))
    }
  </section>
</LayoutPortfolio>
